style. css

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

header nav a:hover {
    background-color: #ddd;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    color: #555;
}

.hero img {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 1px solid #ccc;
}

.headquarters {
    text-align: center;
    padding: 50px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.headquarters h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.headquarters .locations {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.headquarters .location {
    text-align: center;
}

.headquarters .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 auto;
}

.headquarters .location p {
    margin-top: 10px;
    font-size: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    width: 100%;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    align-items: : flex-start;
}


.contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact form {
    flex: 2;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 20px;
    width: 100%;
    max-width: 300px;
    height: : 100px;
    resize: vertical;
}

.contact form label {
    margin-bottom: 5px;
    font-size: 1em;
}

.contact form input,
.contact form select,
.contact form textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact form input[type="submit"]:hover {
    background-color: #45a049;
}

.contact .details {
    flex: 1;
    max-width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.welcome-image {
    width: 1378px;
    height: 856px;
    object-fit: cover;
}

.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}
